
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'main' %}">
                    <h1>My Dating App</h1>
                </a>
            </div>
        </nav>
    </header>
    
    <main>
        <section class="user-profile">
            <h2>User Profile</h2>
            <div class="user-info">
                {{data}}
                <p><strong>Name:</strong> {{ my_user.name }}</p>
                <p><strong>Age:</strong> {{ my_user.age }}</p>
                <p><strong>Email:</strong> {{ my_user.email }}</p>
                <p><strong>Gender:</strong> {{ my_user.gender }}</p>
                <p><strong>rating:</strong> {{ my_user.rating }}</p>
                <!-- Ajoutez d'autres informations de profil ici -->
            </div>
            <div class="profile-image">
                {% for obj in my_picture %}
                <img src="{{obj.name}}" alt="">
                {% endfor %}}
            </div>
            <div class="profile-actions">
                <a href="{% url 'profile' %}" class="edit-profile">Edit Profile</a>
                <form method="post" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="addPicture">url of your picture</label>
                        <input type="text" id="addPicture" name="addPicture" required>
                    </div>
                    <button type="submit">add picture</button>
                </form>
                <a href="{% url 'profile' %}" class="change-password">Change Password</a>
            </div>
        </section>
    </main>
    
    <footer>
        <p>&copy; {{ year }} My Dating App</p>
    </footer>
</body>
</html>
