{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/room.css' %}">
    <audio id="notif" src="{% static 'sounds/notif.mp3' %}" preload="auto"></audio>
</head>
<body>
    <div id="chat-container">
        <div id="chat-log">
            <!-- Messages seront ajoutés ici -->
        </div>
        <div id="input-container">
            <input id="chat-message-input" type="text" placeholder="Type a message...">
            <input id="chat-message-submit" type="button" value="Send">
        </div>
    </div>
    {{ room_name|json_script:"room-name" }}
    {{ users|json_script:"users" }}
    {{ chat_messages|json_script:"messages" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const users = JSON.parse(document.getElementById('users').textContent);
        const messages = JSON.parse(document.getElementById('messages').textContent);

        const chatLog = document.querySelector('#chat-log');
        const chatMessageInput = document.querySelector('#chat-message-input');
        const chatMessageSubmit = document.querySelector('#chat-message-submit');

        function scrollToBottom() {
            chatLog.scrollTop = chatLog.scrollHeight;
        }

        messages.forEach(element => {
            const messageDiv = document.createElement('div');
            messageDiv.className = 'message';
            
            if (element.id_user == users.me) {
                messageDiv.classList.add('my-message');
                messageDiv.textContent = `me: ${element.body}`;
            } else {
                messageDiv.textContent = `${users.hisName}: ${element.body}`;
            }
            
            chatLog.appendChild(messageDiv);
        });

        scrollToBottom();

        const chatSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const messageDiv = document.createElement('div');
            messageDiv.className = 'message';
            
            if (data.user == users.me) {
           
            } else {
                messageDiv.textContent = `${users.hisName}: 
                ${data.message}`;
                document.getElementById('notif').play();
                chatLog.appendChild(messageDiv);
            }
            
            scrollToBottom();
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        chatMessageInput.focus();
        chatMessageInput.addEventListener('keyup', function(e) {
            if (e.keyCode === 13) {  // Enter key
                chatMessageSubmit.click();
            }
        });

        chatMessageSubmit.onclick = function(e) {
            const message = chatMessageInput.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user': users.me,
                'roomName': roomName,
                'host': window.location.host
            }))
            const messageDiv = document.createElement('div');
            messageDiv.className = 'message';
            messageDiv.classList.add('my-message');
            messageDiv.textContent = `${message}`;
            chatLog.appendChild(messageDiv);
            scrollToBottom()
            ;
            chatMessageInput.value = '';
        };
    </script>
</body>
</html>
