{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with {{ match.name }}</title>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'main' %}">
                    <h1>My Dating App</h1>
                </a>
            </div>
        </nav>
    </header>

    <main>
        <section class="chat">
            <h2>Chat with {{ match.name }}</h2>
            <div class="chat-messages">
                {{users.he}}
                {% for message in chat_messages %}
                <div class="message{% if users.me == id_user %}sent{% else %}received{% endif %}">
                    <div class="img-chat">
                        <img src="{% if picture.img %}{{ picture.img }}{% else %}{% static 'images/default-profile-image.jpg' %}{% endif %}"
                            alt="Profile Image">
                    </div>
                    <p id="{{ message.id }}">{{ message.body }}</p>
                    <form method="post" action="{% url 'chat' obj%}">
                        {% csrf_token %}
                        <input type="hidden" name="message_id" value="{{ message.id }}">
                        <button type="submit" name="action" value="delete">Delete</button>
                    </form>
                    <form method="post" action="{% url 'chat' obj %}">
                        {% csrf_token %}
                        <input type="hidden" name="message_id" value="{{ message.id }}">
                        <button type="submit" name="action" value="edit" class="edit-button">Edit</button>
                    </form>
                    <form class="edit-form hidden" method="post" action="{% url 'chat' obj %}" id="edit-form-{{ message.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="message_id" value="{{ message.id }}">
                        <textarea class="edit-textarea" name="edited_message">{{ message.body }}</textarea>
                        <button type="submit" name="action" value="ok">OK</button>
                    </form>
                    <span class="timestamp">{{ message.timestamp }}</span>
                </div>
               
                
                {% endfor %}
            </div>
            <form method="post" action="{% url 'chat' obj %}" onsubmit="resetTextarea()">
                {% csrf_token %}
                <textarea id="message" name="message" placeholder="Type your message..." required></textarea>
                <button type="submit" name="action" value="send">Send</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; {{ year }} My Dating App</p>
    </footer>
    <script>
        function resetTextarea() {
            document.getElementById('message').value = '';
        }
        const editButtons = document.querySelectorAll('.edit-button');
        const editTextareas = document.querySelectorAll('.edit-form');

    editButtons.forEach((button, index) => {
        button.addEventListener('click', () => {
            // Affiche le champ de texte correspondant au bouton "Edit" cliqué
            editTextareas[index].classList.remove('hidden');
            // Masque le paragraphe contenant le texte
/*             editButtons[index].previousElementSibling.style.display = 'none';
 */        });
    });
    </script>
</body>

</html>